<h1>Rate: <%= @restaurant.name %></h1>
<p>**** Ratings are from 1 - 5, with 1 being worst and 5 being best. ****</p>

<%= form_for [@restaurant, @rating] do |f| %>
<% if @rating.errors.any? %>    
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  
  <%= f.label :rating %>
  <%= f.text_field :rating %><br />
  <br />

  <%= f.label :last_visited %>
  <%= date_select :rating, :last_visited %><br />
  <br />

  <%= f.submit("Rate Restaurant", class: "btn btn-success btn-sm" ) %>

<% end %>
<br />

<div class="btn btn-success btn-sm">
  <%= link_to "Back To Restaurant Index", restaurants_path %> 
</div>
<div class="btn btn-primary btn-sm">
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

