<h2>Add Restaurant:</h2>
<%= form_for @restaurant do |f| %>
<% if @restaurant.errors.any? %>    
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
      
      <%= f.label :name %>:
      <%= f.text_field :name %><br />
      <br />
      
      <%= f.label :rating %>:
      <%= f.text_field :rating %>
      <p>(Please rate the restaurant on a scale from 1 to 5, 1 being the worst and 5 being the best)</p>
      
      <%= f.label :last_visited %>:
      <%= date_select :restaurant, :last_visited %><br />
      <br />
      
    <%= f.submit %>
    <br />
<% end %>
<br />

<h2>Rate Restaurant:</h2>
<%= form_for @restaurant do |f| %>
<% if @restaurant.errors.any? %>    
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

    <%= f.label "Select Restaurant To Rate:" %>
    <%= f.collection_select(:name, Restaurant.all, :id, :name ) %>
    <br />
    <br />

    <%= f.label :rating %>:
    <%= f.text_field :rating %>
    <p>(Please rate the restaurant on a scale from 1 to 5, 1 being the worst and 5 being the best)</p>
      
    <%= f.label :last_visited %>:
    <%= date_select :restaurant, :last_visited %><br />
    <br />
      
    <%= f.submit %>
<% end %>

<%= link_to "Back To Restaurant Index", restaurants_path %> | 
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% end %>


